@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif ;
}

/*Home Style*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: #2C3333;
    text-decoration: none;
    font-weight: 700;
}

.logo:hover {
    cursor: default;
}

.navbar a{
    font-size: 18px;
    color:#E7F6F2;
}

.navbar a:hover,
.navbar a.active {
    color: #A5C9CA;
}

.home{
    height: 100vh;
    background: linear-gradient(-90deg, #2C3333 65%, #E7F6F2 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #2C3333;
    border-radius: 65%;
    border: 25px solid #E7F6F2;
    outline: 25px solid #2C3333;
}

.home-image img{
    position: relative;
    max-width: 500px;

}
.home-content{
    max-width: 600px;
    color:#E7F6F2;
    text-align: right;
}

.home-content h1{
    font-size: 40px;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 23px;
    color: transparent;
    -webkit-text-stroke: .7px #E7F6F2;
    background-image: linear-gradient(#395B64,#395B64);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;

}

@keyframes animateText{
    0%, 95%, 100% {
        background-position: -410px 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.home-sci{
    margin: 25px 0 40px;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #A5C9CA;
    border-radius: 50%;
    font-size: 20px;
    color: #E7F6F2;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;

}

.home-sci a:hover{
    background: #395B64;
    color:#E7F6F2;
    border-color:#395B64;
    box-shadow: 0 0 10px #395B64;

}

.btn{
    padding: 12px 35px;
    background: #395B64;
    border-radius: 40px;
    font-size: 17px;
    color: #E7F6F2;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #395B64;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}