@import url("https: //fonts.google.com/specimen/Poppins?query=Poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
html {
    scroll-behavior: smooth;
}

a,
.btn {
    transition: all 300ms ease;
}

/*Home Style*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    font-size: 18px;
    color: #E7F6F2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav .mainMenu li a:hover{
        color: #A5C9CA;
}

nav .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: none;
        cursor: pointer;
}
nav .openMenu {
    color: #E7F6F2;
}

nav .mainMenu .closeMenu{
    color: #E7F6F2;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    font-size: 18px;
    color: #2C3333;
    text-decoration: none;
    font-weight: 600;
    background: transparent;
}

.home{
    height: 100vh;
    background: linear-gradient(-90deg, #2C3333 65%, #E7F6F2 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #2C3333;
    border-radius: 65%;
    border: 25px solid #E7F6F2;
    outline: 25px solid #2C3333;
}

.home-image img{
    position: relative;
    max-width: 500px;

}

.home-content{
    max-width: 600px;
    color:#E7F6F2;
    text-align: right;
}

.home-content h1{
    font-size: 35px;
    line-height: 1.2;

}

.home-content h3 {
    font-size: 23px;
    color: transparent;
    -webkit-text-stroke: .7px #395B64;
    background-image: linear-gradient(#A5C9CA,#A5C9CA );
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;

}

@keyframes animateText{
    0%, 95%, 100% {
        background-position: -410px 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

.home-content p {
    font-size: 16px;
    margin-top: 20px;
}

.home-sci{
    margin: 25px 0 40px;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #A5C9CA;
    border-radius: 50%;
    font-size: 20px;
    color: #E7F6F2;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;

}

.home-sci a:hover{
    background: #395B64;
    color:#E7F6F2;
    border-color:#395B64;
    box-shadow: 0 0 10px #395B64;

}

.btn{
    padding: 12px 35px;
    background: #395B64;
    border-radius: 40px;
    font-size: 17px;
    color: #E7F6F2;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #395B64;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}

.icon-arrow1 {
    position: absolute;
    right: 0px;
    width: 60px;
    margin-top: 40rem;
    margin-right: 10rem;
}

/* About Me */

#about {
    height: 100vh;
    background: linear-gradient(-90deg, #E7F6F2 65%, #2C3333 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.about-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #E7F6F2;
    border-radius: 20%;
    border: 25px solid #2C3333;
    outline: 25px solid #E7F6F2;
}

.about-pic img{
    position: relative;
    max-width: 500px;
}

.about-me {
    max-width: 600px;
    color: #2C3333;
    text-align: right;
}

.about-me h1 {
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1.5px #2C3333;
    background-image: linear-gradient(#395B64, #395B64);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 10s linear infinite;

}

.about-me h4{
    font-size: 18px;
    margin-top: 20px;
}

.about-me p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.about-me .bxs-graduation {
    margin: 25px 0 40px;

}

.about-me .bxs-graduation {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #2C3333;
    border-radius: 20%;
    font-size: 40px;
    color: #2C3333;
    text-decoration: none;
    margin-left: 12px;

}

.icon-arrow2 {
    position: absolute;
    right: 0px;
    width: 60px;
    margin-top: 40rem;
    margin-right: 10rem;
}

/* Skills */

#skills{
    height: 110vh;
    background: #2C3333;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    border: 20px solid #A5C9CA;
    
}
.skills-text{
    margin-top: auto;
    text-align: center;

}
.skills-text h1 {
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 1.5px #A5C9CA;
    background-image: linear-gradient(#395B64, #395B64);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 10s linear infinite;
}

.article-container{
    font-size: 15px;
    text-align: center;
}

article h3{
    color: #E7F6F2;
}

article p{
    color: #A5C9CA;
}

article .bxs-check-square {
    font-size: 20px;
    color: #A5C9CA;
    justify-content: center;
    align-items: center;
    cursor: default;
}

/* Project */

#projects {
    height: 250vh;
    background: #2C3333;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    border: 20px solid #A5C9CA;
}

.title-project{
    text-align: center;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 1.5px #A5C9CA;
    background-image: linear-gradient(#395B64, #395B64);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 10s linear infinite;
}

.project-img1 {
    border-radius: 1rem;
    width: 50%;
    height: 50%;
}

.project-img2 {
    border-radius: 1rem;
    width: 50%;
    height: 50%;
}

.project-img3 {
    border-radius: 1rem;
    width: 50%;
    height: 50%;
}

.project-title {
    text-align: center;
    margin: 1rem;
    color: #A5C9CA;
}

.bxs-down-arrow{
    color: #A5C9CA;
    font-size: 60px;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

/* Contacts */